
[Unit] 
Description = a timer for timed_service.

[Timer] 
OnCalendar = *-*-* *:00,05,10,15,20,25,30,35,40,45,50,55:00

[Install] 
WantedBy = multi-user.target 
